{% extends "global/Page.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Boots-Cats
{% endblock %}

{% block scripts %}
    <script>
        var oTree = oTree || {};
       (function() {
         oTree.group = parseInt("{{ player.group.pk }}");
         oTree.group = isNaN(oTree.group) ? null : oTree.group;
         oTree.role = "{{ player.role }}";
         oTree.participantCode = "{{ player.participant.code }}";
         oTree.appName = "{{ subsession.app_name }}";
         oTree.idInGroup = "{{ player.id_in_group }}";
         oTree.csrfToken = "{{ csrf_token }}";
         {% if view.is_debug %}
         oTree.debug = true;
         {% else %}
         oTree.debug = false;
         {% endif %}
       })();
     </script>
{% endblock %}

{% block content %}

    {% for field in form %}
        {% formfield field %}
    {% endfor %}

    {% next_button %}
    
{% endblock %}
